.button-1{
    background-color: #575fcf;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    border: 2px solid #1e272e;
}
.button-2{
    background-color: #ffdd59;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    border-radius: 25px;
    border: 2px solid black;

}
.button-3{
    background-color: #0be881;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    border-radius: 25px;
    border: 2px solid black;

}
.container-button{
   display: flex;
   justify-content: flex-end;
   margin-right: 30px;
   
}